src/test/resources/com/xmlhelpline/schemalightener/fixtures/lighten-pruned/envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <xsd:element name="Envelope" type="EnvelopeType"/>

    <xsd:complexType name="EnvelopeType">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="KeepRequest" type="KeepRequestType"/>
                <xsd:element name="DropRequest" type="DropRequestType"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="KeepRequestType">
        <xsd:sequence>
            <xsd:element name="UsedValue" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DropRequestType">
        <xsd:sequence>
            <xsd:element name="UnusedValue" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
