src/test/resources/com/xmlhelpline/schemalightener/fixtures/flatten-lighten/unused.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn:example:flatten-lighten"
            targetNamespace="urn:example:flatten-lighten"
            elementFormDefault="qualified">
    <xsd:element name="unused" type="UnusedType"/>

    <xsd:complexType name="UnusedType">
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
