src/test/resources/com/xmlhelpline/schemalightener/fixtures/flatten/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn:example:flatten"
            targetNamespace="urn:example:flatten"
            elementFormDefault="qualified">
    <xsd:complexType name="OrderType">
        <xsd:sequence>
            <xsd:element name="line" type="LineType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LineType">
        <xsd:sequence>
            <xsd:element name="sku" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
