src/test/resources/com/xmlhelpline/schemalightener/fixtures/wsdl/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:test:types"
            elementFormDefault="qualified">
    <xsd:element name="order" type="OrderType"/>

    <xsd:complexType name="OrderType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
